/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("/images/cover-image-light.png");
  --bg-color: #fff1f7;
  --logo-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --decorate-color: #353430;
  --accent-ghost-color: #32312d66;
  --base-color: #353430;
  --title-color: #353430;
}

.theme-light .decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("/images/cover-image-light.png");
    --bg-color: #fff1f7;
    --logo-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --decorate-color: #353430;
    --accent-ghost-color: #32312d66;
    --base-color: #353430;
    --title-color: #353430;
  }

  .decoration {
    display: none;
  }
}
