/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image), url(/images/cover-image-dark.png);
  background-color: var(--bg-color), #000028;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "IBM Plex Mono", sans-serif;
  padding: 0 var(--page-offset);
}

/* Заголовок */

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--page-offset) 0;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--page-offset);
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorate-color);
  border-right: 1px solid var(--decorate-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--page-offset);
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorate-color);
  border-left: 1px solid var(--decorate-color);
}

.decoration {
  color: var(--decorate-color);
  text-transform: uppercase;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: var(--page-offset);
  display: flex;
  align-items: center;
  gap: 10px;
}

.decoration::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--decorate-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 0.92);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  color: var(--decorate-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  font-size: 18px;
  line-height: 18px;
  padding: 2px 13px 6px 13px;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--decorate-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-ghost-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--decorate-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--logo-color);
  line-height: 82.5%;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
}

/* Контент */

.content {
  display: grid;
  gap: 50px;
  margin-top: 40px;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  color: var(--decorate-color);
  font-size: 18px;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__section-center .card {
  grid-column: 1 / -1;
}

.card__title {
  font-size: 18px;
}

.card__text {
  color: var(--base-color);
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
}

.card__subtitle {
  font-size: 18px;
  font-weight: normal;
}

.section__link {
  text-shadow: 1.5px 1.5px 0 var(--decorate-color);
  text-decoration: none;
  position: relative;
}

.section__link:hover {
  text-decoration: none;
}

.section__link:hover::after {
  text-decoration: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--base-color);
}

.section__link:focus-visible {
  outline: 1px solid var(--base-color);
}

.pictures-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--page-offset);
}

.gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: 100vh;
  min-height: 668px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-left: -20px;
  }

  .header__description {
    max-width: 364px;
    justify-self: end;
  }

  .content {
    gap: 80px;
    margin-top: 60px;
  }

  .content__section-right .card,
  .content__section-right .card__title {
    grid-column: 2 / span 2;
  }

  .content__section-right .section__title {
    grid-row: 1 / span 2;
  }

  .content__section:not(.gallery-section),
  .pictures-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__title {
    grid-column: 1;
  }

  .gallery-section .card {
    gap: 20px;
  }

  .gallery_nature,
  .gallery_street {
    grid-column: span 2;
  }

  .gallery_ice-cream,
  .gallery_tape {
    grid-row: span 2;
  }

  .footer {
    min-height: 1024px;
    margin-top: 60px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__description {
    max-width: 491px;
  }

  .content {
    gap: 80px;
    margin-top: 60px;
  }
}

/* Костыль */
/* Из-за того что gap учитывается в ширине двух сложенных колонок */
/* Возможно, пробема в дизайне? */
@media (width >= 768px) and (width < 1024px) {
  .content__section-right .card,
  .content__section-right .card__title {
    margin-left: 7px;
  }
}
