/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-offset: 10px;
  --bg-image: url("./images/cover-image-dark.png");
  --bg-color: #000028;
  --logo-color: #db00ff;
  --accent-color: #ff0070;
  --decorate-color: #ff0070;
  --accent-ghost-color: #ff007066;
  --base-color: #f1b2ce;
  --title-color: #000028;
}

@media (width >= 768px) {
  :root {
    --page-offset: 20px;
  }
}
